.box {
  background: #fff;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  padding: 12px;
}
.img-style {
  background: rgb(244, 255, 249);
  height: 148px;
  width: 111px;
}
.box-body {
  padding-left: 12px;
  position: relative;
  min-height: 148px;
  margin-left: 111px;
  margin-bottom: 12px;
}
.price-display {
  float: right;
  display: flex;
}
.strike {
  text-decoration: line-through;
}
.discount {
  margin-left: 12px;
  color: #f16565;
  font-size: large;
}
.price {
  font-size: 22px;
  margin-top: -11px;
  margin-left: 5px;
}
