.sidebar {
  vertical-align: top;
  display: inline-block;
  padding: 24px 0 0 16px;
}
.order-button {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  background: #ff3f6c;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
}
