.App {
  text-align: center;
}

.button {
  padding: 8px 16px;
  border: 1px solid #ff3f6c;
  border-radius: 4px;
  margin-right: 0;
  font-size: 12px;
  font-weight: 600;
  color: #ff3f6c;
  height: 40px;
}
